<div class="title-text col-xs-12 col-sm-12 col-md-7 col-lg-7">
    <h3>{{typed-string strings=typedString typeSpeed=150}}</h3>
</div>
<div class="icon-alignment col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <a href="https://www.facebook.com/kappagantula.aditya" title="facebook"><img class="icon" src="images/icons/facebook.png"/></a>
    <a href="http://www.geekzwish.blogspot.com" title="blogger"><img class="icon" src="images/icons/blogger.png"/></a>
    <a href="http://stackoverflow.com/users/898030/aditya-kappagantula" title="stackoverflow"><img class="icon" src="images/icons/stackoverflow.png"/></a>
    <a href="https://github.com/aditya-kappagantula" title="github"><img class="icon" src="images/icons/github.png"/></a>
    <a href="http://www.linkedin.com/pub/aditya-kappagantula/13/a6b/7b/" title="linkedin"><img class="icon" src="images/icons/linkedin.png"/></a>
</div>
{{yield}}
