<div class="left-container col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="split-pane"><span>===</span></div>
</div>
<div class="right-container col-xs-12 col-sm-12 col-md-6 col-lg-6"></div>
{{yield}}
